.teamBlock {
	margin-top: 50px;
	width: 1000px;
}

.selectedTeamCaption {
	font-size: 16px;
	margin-bottom: 14px;
	margin-top: 0;
	padding-top: 7px;
}

table {
	width: 100%;
	table-layout: fixed;
	font-size: 14px;
}

th,
td {
	width: 33.33%;
	border: 1px solid black;
	text-align: center;
	padding: 5px 10px;
	word-wrap: break-word;
}

.backButtonBlock {
	margin-top: 40px;
}

.backButton {
	border: none;
	outline: none;
	border-radius: 10px;
	height: 35px;
	padding: 5px 15px;
	font-size: 14px;
	cursor: pointer;
	background-color: transparent;
}

.backButton:hover {
	background: rgb(226, 226, 222);
}

.teamAndButton {
	display: flex;
	flex-direction: row;
}

.teamCaption {
	width: 125px;
}

.editButton {
	border: none;
	outline: none;
	border-radius: 10px;
	height: 35px;
	padding: 5px 15px;
	font-size: 13px;
	background-color: transparent;
	cursor: pointer;
}

.editButton:hover {
	background: rgb(226, 226, 222);
}
