.teamConfigBlock {
	display: flex;
	align-items: center;
	gap: 5px;
}

.editingInput {
	padding: 0.5rem;
	border: none;
	outline: none;
	margin-right: 5px;
	color: #595959;
	font-size: 13px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.editingInput:hover {
	cursor: pointer;
}

.editingButtons {
	display: flex;
	gap: 4px;
	margin-bottom: 9px;
}

.saveButton,
.cancelButton {
	margin-right: 5px;
	border: none;
	outline: none;
	border-radius: 10px;
	height: 31px;
	width: 60px;
	font-size: 13px;
	background-color: transparent;
	cursor: pointer;
}

.saveButton:hover {
	background-color: rgb(226, 226, 222);
}

.cancelButton:hover {
	background-color: rgb(226, 226, 222);
}

@media (max-width: 768px) {
	.editingInput {
		width: 100%;
		font-size: 12px;
	}

	.editingButtons {
		flex-direction: column;
		gap: 4px;
		font-size: 12px;
	}

	.saveButton,
	.cancelButton {
		width: 100%;
		font-size: 12px;
	}
}
