.appHeaderAndSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}

.headerBlock {
	margin-top: 0px;
	text-align: center;
}

.searchbarBlock {
	text-align: center;
	margin-top: 40px;
}

.appContent {
	display: flex;
	flex: 1;
}

.sidebarBlock {
	width: 20%;
	margin-top: 60px;
}

.mainBlock {
	width: 80%;
	flex: 1;
	margin-left: 70px;
}
