.sidebar {
	margin-top: 0px;
}

.sidebarLi {
	list-style: none;
	font-size: 14px;
	padding-bottom: 10px;
	width: 100px;
	text-decoration: underline;
	text-decoration-color: rgb(170, 170, 169);
}

.sidebarLi:hover {
	cursor: pointer;
}

.sidebarUl {
	margin: 0;
	padding-left: 20px;
}
